* {
    font-family: "Times New Roman", Times, serif;
}

#header {	
    text-align: center;
    background-color: #247BA0;
    margin-left: 30px;
    margin-top: 50px;
}

#foto1 {
    width: 100%;
      height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    float: right;
    background-color: #247BA0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li {
    float: left;
}

li a {
    display: block;
    color: #5ADBFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #5ADBFF;
    height: 22px;
    color: #247BA0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

caption {
    caption-side: bottom;
}

th, td {
    text-align: center;
    padding: 8px;
}
th   {
    background-color: #094074;
    color: white;
}


#mbiemri  
{
    background-color: #87abce;
    color: white;

}


tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
th:hover    {
    background-color: #746d09;
    color: white;
}

.footer {
    background-color: #5ADBFF;
    padding: 0.5em;
    text-align: right;
}

.festa {
    color: white;
}
#foto2{
    width: 200px;
height: 200px;
margin-left: 50px;
margin-top: 50px;
}
#foto2:hover{
    width: 100px;
height: 100px;
margin-left: 20px;
margin-top: 20px;
}

#box{   
    border: solid 2px black;
    padding: 100px 100px 100px 100px;
    margin-right: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    background-color: antiquewhite;
    }
    tr{
    background-color: aquamarine;

    }